<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationID</key>
	<string>618ccfba2829d68e60fba09a76ad8090ddeabfebd1bf38b86a5b1e47fff59f9c</string>
	<key>Server</key>
	<string>https://justanapp-8b2be8405168.herokuapp.com/parse</string>
	<key>LiveQueryServer</key>
	<string></string>
	<key>UseTransactions</key>
	<true/>
	<key>DeleteKeychainIfNeeded</key>
	<true/>
</dict>
</plist>
